services: 
  postgres:
    image: postgres:18
    container_name: postgres
    environment: 
      POSTGRES_PASSWORD: "postgres*"
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql  

volumes:
  postgres-data:
