services: 
  postgres:
    image: postgres:18
    container_name: postgres
    environment: 
      POSTGRES_PASSWORD: "postgres*"
    command: ["postgres", "-c", "shared_preload_libraries=pg_stat_statements"]
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data  

volumes:
  postgres-data: